<launch>


	<!-- GPIO Pin Parameters -->
	<rosparam command="load" file="$(find pg_bringup)/config/rpi_gpio/gpio.yaml" ns="gpio"/>

	<!-- Rotary Encoder Parameters -->
	<rosparam command="load" file="$(find pg_bringup)/config/sensors/rotary_encoder.yaml" ns="encoder"/>


	<!-- Rosserial -->
	<node name="motor_sub_controller" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="57600"/>
	</node>


	<!-- Wheel 1 -->
	<group ns="wheel_1">

		<node name="motor_driver" pkg="pg_motor_driver" type="motor_driver_node">
		</node>

		<node name="controller" pkg="pid" type="controller">
			<param name="node_name" value="wheel_1_pid"/>
			<param name="setpoint_topic" value="reference_velocity"/>
			<param name="topic_from_controller" value="controller_output"/>
			<param name="topic_from_plant" value="motor_state"/>
			<param name="Kp" value="10.0"/>
			<param name="Ki" value="0.1"/>
			<param name="Kd" value="0.00"/>
			<param name="upper_limit" value="255.0"/>
			<param name="bottom_limit" value="-255.0"/>
			<param name="max_loop_frequency" value="150.0"/>
			<param name="min_loop_frequency" value="10.0"/>
		</node>

	</group>


	<!-- Wheel 2 -->
	<group ns="wheel_2">

		<node name="motor_driver" pkg="pg_motor_driver" type="motor_driver_node">
		</node>

		<node name="controller" pkg="pid" type="controller">
			<param name="node_name" value="wheel_2_pid"/>
			<param name="setpoint_topic" value="reference_velocity"/>
			<param name="topic_from_controller" value="controller_output"/>
			<param name="topic_from_plant" value="motor_state"/>
			<param name="Kp" value="10.0"/>
			<param name="Ki" value="0.1"/>
			<param name="Kd" value="0.00"/>
			<param name="upper_limit" value="255.0"/>
			<param name="bottom_limit" value="-255.0"/>
			<param name="max_loop_frequency" value="150.0"/>
			<param name="min_loop_frequency" value="10.0"/>
		</node>

	</group>


	<!-- Wheel 3 -->
	<group ns="wheel_3">

		<node name="motor_driver" pkg="pg_motor_driver" type="motor_driver_node">
		</node>

		<node name="controller" pkg="pid" type="controller">
			<param name="node_name" value="wheel_3_pid"/>
			<param name="setpoint_topic" value="reference_velocity"/>
			<param name="topic_from_controller" value="controller_output"/>
			<param name="topic_from_plant" value="motor_state"/>
			<param name="Kp" value="10.0"/>
			<param name="Ki" value="0.1"/>
			<param name="Kd" value="0.00"/>
			<param name="upper_limit" value="255.0"/>
			<param name="bottom_limit" value="-255.0"/>
			<param name="max_loop_frequency" value="150.0"/>
			<param name="min_loop_frequency" value="10.0"/>
		</node>

	</group>


	<!-- IMU driver -->
	<group ns="imu">

		<?ignore
		<node name="imu_driver" pkg="pg_hardware" type="imu_node">
			<param name="frequency" value="20"/>
			<rosparam command="load" file="$(find pg_bringup)/config/sensors/imu.yaml" ns="imu"/>
			<remap from="imu/orientation" to="orientation"/>
			<remap from="imu/magnetometer" to="magnetometer"/>
			<remap from="imu/accelerometer" to="accelerometer"/>
			<remap from="imu/gyroscope" to="gyroscope"/>
			<remap from="imu/data_raw" to="data_raw"/>
			<remap from="imu/mag" to="mag"/>
		</node>
		?>

		<?ignore
		<node name="imu_complementary_filter" pkg="imu_complementary_filter" type="complementary_filter_node">
			<remap from="imu/data_raw" to="data_raw"/>
			<remap from="imu/mag" to="mag"/>
			<remap from="imu/data" to="data"/>
			<param name="publish_debug_topics" value="true"/>
		</node>
		?>

		<?ignore
		<include file="$(find ros_imu_bno055)/launch/imu.launch">
			<arg name="serial_port" value="/dev/ttyS0"/>
			<arg name="frame_id" value="imu_link"/>
			<arg name="operation_mode" value="IMU"/>
			<arg name="oscillator" value="INTERNAL"/>
			<arg name="reset_orientation" value="true"/>
			<arg name="frequency" value="50"/>
			<arg name="use_magnetometer" value="false"/>
			<arg name="use_temperature" value="false"/>
		</include>
		?>
		
		<?ignore
		<node name="imu_node" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
			<param name="device" type="string" value="/dev/i2c-1"/>
			<param name="address" type="int" value="40"/>
			<param name="frame_id" type="string" value="imu_link"/>
			<param name="rate" type="double" value="10"/>
		</node>
		?>

	</group>


	<!-- Dribbler Driver -->
	<?ignore
	<group ns="dribbler">
		<node name="dribbler_driver" pkg="pg_hardware" type="dribbler_driver_node">
			<param name="frequency" value="50"/>
		</node>
	</group>
	?>
	
	<group ns="kicker">
		<node name="kicker_driver" pkg="pg_kicker" type="kicker_node">
		</node>
	</group>

	<node name="proximity_publisher" pkg="pg_proximity_sensor" type="proximity_node"/>

</launch>
