<launch>
	<group ns="marco">

		<!-- Parameter Servers -->
		<rosparam command="load" file="$(find pg_bringup)/config/common_config.yaml" />
		<rosparam command="load" file="$(find pg_bringup)/config/sensors_config.yaml" />

		<!-- Arduino Firmware -->
		<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0 _baud:=115200" />

		<!-- Hardware Drivers -->
		<node name="imu_filter" pkg="pg_hardware" type="imu_filter_node"/>
		<node name="motor_driver" pkg="pg_hardware" type="motor_driver_node"/>

		<!-- Control -->
		<node name="base_controller" pkg="pg_control" type="base_controller.py" />

		<!-- Localization -->
		<node name="odometry" pkg="pg_localization" type="odometry_node" />

		<!-- Teleop Key -->
		<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />

	</group>
</launch>
