launch>

        <rosparam command="load" file="$(find pg_bringup)/config/common/common_config.yaml" ns="robot"/>

        <include file="$(find pg_bringup)/launch/hardware.launch"/>
        <include file="$(find pg_bringup)/launch/control.launch"/>
	
	<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />

</launch>
